{% extends 'base.html' %}

{% load static %}

{% block title %}Аккаунт - BrainHunter{% endblock title %}

{% block main %}

<div class="container max-w-[1280px] mx-auto px-4">
    <div class="account-block bg-white my-4 px-6 py-8 rounded-lg">
        <div class="max-w-[60em]">
            <div class="contact-info border-b-[1px] pt-1 pb-2">
                <h1 class="text-3xl font-semibold my-1.5">{{ user.first_name }}</h1>
                <p class="text-lg my-1">{{ userProfile.birth_date }}</p>
                <p class="text-lg my-1">{{ userProfile.location }}</p>
                <a href="{% url 'logout_view' %}" class="text-sky-600">Выйти из аккаунта</a>
            </div>
            <div class="about-info pt-1 pb-2">
                <h1 class="text-2xl">Обо мне</h1>
                <p>{{ userProfile.bio }}</p>
            </div>
            <div class="border-t-[1px] py-1">
                <h1 class="text-2xl">Мои отклики:</h1>
            </div>
        </div>
    </div>
</div>

{% endblock main %}