<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/origin.css" %}">
    <link rel="shortcut icon" href="{% static "img/logo3.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "faw/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/scroll.css" %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-sky-100">
    <header class="fixed w-full border-b-2 bg-sky-600 sm:bg-white z-50">
        <nav class="container mx-auto max-w-[1280px] px-4 relative">
            <div class="nav-bar flex py-4 justify-between">
                <div class="nav-menu flex items-center gap-2 xl:gap-4 font-medium">
                    <div class="mob-menu xl:hidden">
                        <span id="burgerToggle" class="text-3xl text-white sm:text-sky-900 cursor-pointer"><i class="fa-solid fa-bars"></i></span>
                    </div>
                    <div class="logo flex mb-1.5">
                        <a href="{% url 'index_view' %}" class="text-3xl mt-1 text-white sm:text-sky-600 font-bold flex"><img src="{% static "img/logo3.png" %}" alt="brainhunter" width="32px" class="object-contain hidden sm:block">BrainHunter</a>
                    </div>
                    <div class="hidden xl:flex gap-4">
                        <a href="{% url 'vacancy_search' %}">Вакансии</a>
                        {% comment %} <a href="#">Профессии</a> {% endcomment %}
                        <a href="{% url 'creating_vacancy' %}">Компании</a>
                        <a href="#">Блог</a>
                        <a href="#">Работодателю</a>
                    </div>
                </div>
                <div class="right-menu sm:flex items-center gap-4 font-medium hidden">
                    <a href="#"><i class="fa-solid fa-location-dot mr-1"></i>Новокузнецк</a>
                    <div class="hidden lg:flex items-center gap-4">
                        {% if user.is_authenticated %}
                        <button class="bg-stone-200/80 rounded-lg px-2 py-1" onclick="window.location='/resume'">Мое резюме</button>
                        <a href="{% url 'login_view' %}">Мой профиль</a>
                        {% else %}
                        <button class="bg-stone-200/80 rounded-lg px-2 py-1" onclick="window.location='/resume'">Создать резюме</button>
                        <a href="{% url 'login_view' %}">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="burger-menu absolute left-0 w-full hidden sm:max-w-[12em]" id="burgerMenu">
                <div class="flex flex-col gap-1 p-2 bg-sky-600 text-white font-medium w-full">
                    <a href="#">Вакансии</a>
                    <a href="#">Профессии</a>
                    <a href="#">Компании</a>
                    <a href="#">Блог</a>
                    <a href="#">Работодателю</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'resume_view' %}">Мое резюме</a>
                    <a href="{% url 'account_view' %}">Мой профиль</a>
                    {% else %}
                    <a href="{% url 'resume_view' %}">Создать резюме</a>
                    <a href="{% url 'login_view' %}">Войти</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    
    <main class="pt-[76px] bg-sky-100">
        {% block main %}{% endblock main %}
    </main>

    <footer class="bg-sky-950 text-white">
        <div class="container mx-auto max-w-[1280px] px-2">
            <div class="top-footer flex flex-col md:flex-row border-b-[1px] py-4 md:py-8">
                <div class="info-line flex flex-col gap-0.5 md:w-1/4 pb-2 lg:w-1/5 text-center md:text-left">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Информация</h1>
                    <div class="flex flex-col gap-0.5 max-h-fit overflow-y-hidden">
                        <a href="#">О "BrainHunter"</a>
                        <a href="#">Правила сайта</a>
                        <a href="#">Контакты</a>
                        <a href="#">Пресс-служба</a>
                        <a href="#">Работа у нас</a>
                    </div>
                </div>
                <div class="finder-line flex flex-col gap-0.5 md:w-1/4 pb-2 lg:w-1/5 text-center md:text-left">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Соискателям</h1>
                    <div class="flex flex-col gap-0.5 max-h-fit overflow-y-hidden">
                        <a href="#">Добавить резюме</a>
                        <a href="#">Поиск вакансий</a>
                        <a href="#">Каталог компаний</a>
                        <a href="#">Каталог профессий</a>
                        <a href="#">Статьи и советы</a>
                    </div>
                </div>
                <div class="giver-line flex flex-col gap-0.5 md:w-1/4 pb-2 lg:w-1/5 text-center md:text-left">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Работодателям</h1>
                    <div class="flex flex-col gap-0.5 max-h-fit overflow-y-hidden">
                        <a href="#">Разместить вакансии</a>
                        <a href="#">Найти сотрудников</a>
                        <a href="#">Прайс-лист</a>
                        <a href="#">Помощь работодателям</a>
                        <a href="#">Производственный календарь</a>
                    </div>
                </div>
                <div class="mob-app flex flex-col items-start lg:items-end md:w-1/4 lg:w-2/5">
                    <h1 class="font-medium uppercase text-xl tracking-wide w-full text-center">Мобильное приложение</h1>
                    <div class="flex items-start justify-center w-full py-2">
                        <div class="flex flex-col gap-2 px-2">
                            <div class="store-card border-[1px] rounded-lg">
                                <a href="#"><img src="{% static "img/appstore.svg" %}" alt="appstore"></a>
                            </div>
                            <div class="store-card border-[1px] rounded-lg">
                                <a href="#"><img src="{% static "img/googleplay.svg" %}" alt="googleplay"></a>
                            </div>
                            <div class="store-card border-[1px] rounded-lg">
                                <a href="#"><img src="{% static "img/rustore.svg" %}" alt="rustore"></a>
                            </div>
                        </div>
                        <img class="object-contain rounded-lg hidden lg:block" src="{% static "img/qrcode.png" %}" alt="qrcode" width="128px" height="128px">
                    </div>
                </div>
            </div>
            <div class="bottom-footer py-8">
                <div class="footer-logo flex items-center gap-2">
                    <a href="#" class="text-lg">© 2024 BrainHunter.ru</a>
                </div>
                <div class="footer-socials">
                    
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static "js/nav.js" %}" type="module"></script>
</body>
</html>