<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/origin.css" %}">
    <link rel="shortcut icon" href="{% static "img/logo3.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "faw/css/all.min.css" %}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="fixed w-full border-b-2 bg-white z-50">
        <nav class="container mx-auto max-w-[1280px]">
            <div class="nav-bar flex py-4 justify-between">
                <div class="nav-menu flex items-center gap-4 font-medium">
                    <div class="logo flex mb-1.5">
                        <a href="/" class="text-3xl text-sky-600 font-bold flex"><img src="{% static "img/logo3.png" %}" alt="brainhunter" width="32px" class="object-contain">BrainHunter</a>
                    </div>
                    <a href="#">Вакансии</a>
                    <a href="#">Профессии</a>
                    <a href="#">Компании</a>
                    <a href="#">Блог</a>
                    <a href="#">Работодателю</a>
                </div>
                <div class="right-menu flex items-center gap-4 font-medium">
                    <a href="#"><i class="fa-solid fa-location-dot mr-1"></i>Новокузнецк</a>
                    <button class="bg-stone-200/80 rounded-lg px-2 py-1">Создать резюме</button>
                    <a href="#">Войти</a>
                </div>
            </div>
        </nav>
    </header>
    
    <main class="pt-[76px] bg-sky-100">
        {% block main %}{% endblock main %}
    </main>

    <footer class="bg-sky-950 text-white">
        <div class="container mx-auto max-w-[1280px]">
            <div class="top-footer flex border-b-[1px] py-8">
                <div class="info-line flex flex-col gap-0.5 w-1/5">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Информация</h1>
                    <a href="#">О "BrainHunter"</a>
                    <a href="#">Правила сайта</a>
                    <a href="#">Контакты</a>
                    <a href="#">Пресс-служба</a>
                    <a href="#">Работа у нас</a>
                </div>
                <div class="finder-line flex flex-col gap-0.5 w-1/5">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Соискателям</h1>
                    <a href="#">Добавить резюме</a>
                    <a href="#">Поиск вакансий</a>
                    <a href="#">Каталог компаний</a>
                    <a href="#">Каталог профессий</a>
                    <a href="#">Статьи и советы</a>
                </div>
                <div class="giver-line flex flex-col gap-0.5 w-1/5">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Работодателям</h1>
                    <a href="#">Разместить вакансии</a>
                    <a href="#">Найти сотрудников</a>
                    <a href="#">Прайс-лист</a>
                    <a href="#">Помощь работодателям</a>
                    <a href="#">Производственный календарь</a>
                </div>
                <div class="mob-app w-2/5 flex flex-col items-end">
                    <h1 class="font-medium uppercase text-xl tracking-wide">Мобильное приложение</h1>
                    <div class="flex items-start py-2">
                        <div class="flex flex-col gap-2 px-2">
                            <div class="store-card border-[1px] rounded-lg">
                                <a href="#"><img src="{% static "img/appstore.svg" %}" alt="appstore"></a>
                            </div>
                            <div class="store-card border-[1px] rounded-lg">
                                <a href="#"><img src="{% static "img/googleplay.svg" %}" alt="googleplay"></a>
                            </div>
                            <div class="store-card border-[1px] rounded-lg">
                                <a href="#"><img src="{% static "img/rustore.svg" %}" alt="rustore"></a>
                            </div>
                        </div>
                        <img class="object-contain rounded-lg" src="{% static "img/qrcode.png" %}" alt="qrcode" width="128px" height="128px">
                    </div>
                </div>
            </div>
            <div class="bottom-footer py-8">
                <div class="footer-logo flex items-center gap-2">
                    <a href="#" class="text-lg">© 2024 BrainHunter.ru</a>
                </div>
                <div class="footer-socials">
                    
                </div>
            </div>
        </div>
    </footer>
</body>
</html>