{% extends 'base.html' %}

{% block title %}Главная - BrainHunter{% endblock title %}

{% load static %}

{% load humanize %}

{% block main %}

    {% if message %}
    <div class="fixed top-8 z-50 right-8 bg-green-500/90 rounded-lg text-white flex w-40 justify-center items-center h-20">{{ message }}</div>
    {% endif %}

    <div id="modal" class="fixed flex top-0 bg-black/50 z-50 w-full h-full hidden">
        <div class="applicationBlock w-full max-w-[640px] mx-auto h-fit max-h-[90%] my-auto py-4 px-4 bg-white rounded-lg">
            <div class="applicationContent relative">
                <form id="formModal" action="/create-application/" method="POST">
                    {% csrf_token %}
                    <div class="applicationClose absolute right-0 top-0">
                        <span id="closeModal" class="text-2xl text-sky-950 hover:text-sky-600 cursor-pointer"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                    <div class="applicationHeader">
                        <h1 class="text-2xl font-medium">Отправить отклик на вакансию</h1>
                        <h2 class="text-2xl font-medium capitalize" id="modalName">full-stack drupal-разработчик</h2>
                        <div class="vacancyInfo">
                            <div class="flex gap-2 text-lg">
                                <span id="modalSalary">150 000,00 руб.</span>
                                <span class="capitalize" id="modalLocation">Нижний Новгород</span>
                            </div>
                            <div class="flex">
                                <span class="font-medium text-lg" id="modalCompany">JCat, сервис размещения объявлений</span>
                            </div>
                        </div>
                    </div>
                    <div class="applicationBody">
                        <div class="applicationCoverLetter flex flex-col pb-1.5">
                            <label for="coverLetter" class="py-1 font-medium">Сопроводительное письмо</label>
                            <textarea id="coverLetter" name="coverLetter" class="w-full border-2 resize-y min-h-40 rounded-lg outline-none p-1.5 max-h-[20em]" required></textarea>
                        </div>
                        <div class="applicationSend flex flex-col pt-1.5">
                            <button class="bg-sky-600 text-lg px-2 py-1 w-full text-white rounded-lg">Отправить отклик</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="page-header-form bg-white px-4">
        <div class="container mx-auto max-w-[1280px] px-4">
            <h1 class="text-3xl font-semibold py-6">Поиск работы в Новокузнецке</h1>
            <div class="header-input flex gap-y-4 md:flex-row flex-col">
                <div class="group-1 w-full flex relative">
                    <input type="text" placeholder="Должность или ключевые слова" class="w-full bg-slate-100 px-10 py-3 md:py-0 outline-none rounded-lg md:rounded-r-none md:border-r-2 md:rounded-l-lg">
                    <i class="fa-solid fa-magnifying-glass absolute top-3.5 bottom-0 left-3.5 text-gray-500"></i>
                </div>
                <div class="group-2 w-full flex relative">
                    <input type="text" placeholder="Город" class="w-full bg-slate-100 px-10 outline-none py-3 rounded-lg md:rounded-none md:py-0 md:border-r-2">
                    <i class="fa-solid fa-location-dot absolute top-3.5 bottom-0 left-3.5 text-gray-500"></i>
                </div>
                <div class="group-3 w-full flex relative">
                    <input type="text" placeholder="Зарплата от, руб." class="w-full bg-slate-100 px-10 py-3 rounded-lg md:rounded-none md:py-0 outline-none">
                    <i class="fa-solid fa-ruble-sign absolute top-3.5 bottom-0 left-3.5 text-gray-500"></i>
                </div>
                <div class="group-4 md:max-w-[20%] w-full flex justify-between items-center">
                    <div class="bg-stone-100 rounded-tr-lg rounded-br-lg flex w-full">
                        <button class="bg-sky-600 text-white rounded-lg py-2 px-8 w-full" onclick="window.location='vacancy'">Найти</button>
                    </div>
                    <a href="#" class="text-3xl text-sky-600 ml-2 md:ml-4"><i class="fa-solid fa-sliders"></i></a>
                </div>
            </div>
            <div class="header-recomendations py-4 md:py-6 flex flex-col sm:flex-row flex-shrink gap-2 flex-auto">
                <span class="min-w-fit flex items-center justify-center sm:justify-start font-medium">Рекомендуем вам:</span>
                <div class="w-full flex overflow-x-hidden relative">
                    <div id="scrollLeftID" style="display:none" class="h-full border-slate-300 aspect-square absolute top-0 left-0 justify-center flex items-center bg-white border-2 rounded-full cursor-pointer z-20">
                        <i class="fa-solid fa-arrow-left"></i>
                    </div>
                    <div class="scrollBarFilter z-10 px-4 w-full">
                        <ul id="scrollBarID" class="flex gap-4 overflow-x-scroll scrollBar mx-auto w-full">
                            <li class="min-w-fit px-3 py-1 border-2 border-sky-600 rounded-lg font-medium">Вакансии в Новокузнецке</li>
                            <li class="min-w-fit px-3 py-1 border-2 border-slate-300 rounded-lg font-medium">Популярные запросы</li>
                            <li class="min-w-fit px-3 py-1 border-2 border-slate-300  rounded-lg font-medium">Работа на дому</li>
                            <li class="min-w-fit px-3 py-1 border-2 border-slate-300  rounded-lg font-medium">Работа для студентов</li>
                            <li class="min-w-fit px-3 py-1 border-2 border-slate-300  rounded-lg font-medium">Работа в офисе</li>
                            <li class="min-w-fit px-3 py-1 border-2 border-slate-300  rounded-lg font-medium">Работа в торговле</li>
                            <li class="min-w-fit px-3 py-1 border-2 border-slate-300  rounded-lg font-medium">Работа в продажах</li>
                        </ul>
                    </div>
                    <div id="scrollRightID" style="display:none" class="h-full border-slate-300 aspect-square absolute top-0 right-0 justify-center flex items-center bg-white border-2 rounded-full cursor-pointer z-20">
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="work-body bg-sky-100 px-2">
        <div class="container mx-auto max-w-[1280px]">

            <div class="work-body-content flex gap-12 py-4 px-4">

                <div class="w-full lg:w-3/4 flex flex-col gap-y-4">

                    {% for vacancy in vacancy %}
                    
                        <div id="vacancyID" class="job-card bg-white rounded-lg p-4" data-id={{ vacancy.id }}>
                            <div class="top-card flex justify-between">
                                <div>
                                    <h1 class="font-medium text-xl capitalize">{{ vacancy.title }}</h1>
                                    <span>{{ vacancy.salary|intcomma }} руб.</span>
                                    <span class="capitalize">{{ vacancy.location }}</span>
                                </div>
                                <a href="#" class="text-lg"><i class="fa-regular fa-star"></i></a>
                            </div>
                            <div class="card-content">
                                <div class="py-2">
                                    <p class="line-clamp-3">{{ vacancy.description }}</p>
                                </div>
                                <div class="py-1 flex gap-2 flex-wrap">
                                    <span class="py-1 px-3 bg-purple-200 rounded-3xl text-purple-800 min-w-fit"><i class="fa-solid fa-crown mr-1.5"></i>Вакансия недели</span>
                                    {% comment %} <span class="py-1 px-3 bg-slate-100 rounded-3xl"><i class="fa-solid fa-graduation-cap mr-1.5"></i>Для студентов</span> {% endcomment %}
                                </div>
                                <div class="company-name py-4">
                                    <h2 class="font-medium">{{ vacancy.company }}</h2>
                                </div>
                                <div class="actions flex gap-2 flex-col sm:flex-row">
                                    <button id="sendApplicationBtn" data-btn-id="{{ vacancy.id }}:{{ vacancy.company }}:{{ vacancy.title }}:{{ vacancy.location }}: {{ vacancy.salary }}" class="bg-sky-600 min-w-fit px-5 py-2.5 rounded-md text-white font-medium">Откликнуться</button>
                                    <button class="bg-slate-100 min-w-fit px-5 py-2.5 rounded-md text-black font-medium">Позвонить</button>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
    
                <div class="lg:w-1/4 bg-white rounded-lg h-fit hidden lg:block w-0">
                    <div class="py-4">
                        <h1 class="text-center font-medium">Вакансии дня</h1>
                    </div>

                    <div class="company-card border-t-2 py-4">
                        <div class="flex flex-col justify-center items-center">
                            <div class="h-20 w-32 flex items-center justify-center my-2">
                                <img class="object-contain w-full h-full" src="{% static "img/card1.png" %}" alt="company-1">
                            </div>
                            <span class="text-gray-600">10000 вакансий</span>
                        </div>
                    </div>
                    <div class="company-card border-t-2 py-4">
                        <div class="flex flex-col justify-center items-center">
                            <div class="h-20 w-32 flex items-center justify-center my-2">
                                <img class="object-contain w-full h-full" src="{% static "img/card2.png" %}" alt="company-2">
                            </div>
                            <span class="text-gray-600">828 вакансий</span>
                        </div>
                    </div>
                    <div class="company-card border-t-2 py-4">
                        <div class="flex flex-col justify-center items-center">
                            <div class="h-20 w-32 flex items-center justify-center my-2">
                                <img class="object-contain w-full h-full" src="{% static "img/card3.png" %}" alt="company-3">
                            </div>
                            <span class="text-gray-600">708 вакансий</span>
                        </div>
                    </div>
                    <div class="company-card border-t-2 py-4">
                        <div class="flex flex-col justify-center items-center">
                            <div class="h-20 w-32 flex items-center justify-center my-2">
                                <img class="object-contain w-full h-full" src="{% static "img/card4.png" %}" alt="company-4">
                            </div>
                            <span class="text-gray-600">2611 вакансий</span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <script src="{% static 'js/modal.js' %}" type="module"></script>
    <script src="{% static "js/scroll.js" %}" type="module"></script>

{% endblock main %}