{% extends 'base.html' %}

{% load static %}

{% block title %}Регистрация - BrainHunter{% endblock title %}

{% block main %}

<div class="container max-w-[1280px] mx-auto px-4">
    <div class="auth-block bg-white py-1.5 max-w-[32em] rounded-lg mx-auto my-8">
        <div class="top-auth flex justify-center border-b-[1px] px-6 py-3">
            <a href="{% url 'index_view' %}" class="text-3xl text-sky-600 font-bold flex">BrainHunter</a>
        </div>
        <div class="auth-content flex flex-col px-6 py-3">
            <div class="auth-header pb-1">
                <h1 class="text-lg font-medium">Регистрация</h1>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="input-block flex flex-col gap-1 py-1.5">
                    <label for="fioUser">ФИО</label>
                    <input id="fioUser" name="fioUser" type="text" class="border-2 border-gray-400 rounded-lg py-1 px-2 outline-sky-600/50" placeholder="Фамилия Имя Отчество" minlength="16" required>
                </div>
                <div class="input-block flex flex-col gap-1 py-1.5">
                    <label for="phoneNum">Номер телефона</label>
                    <input id="phoneNum" name="phoneNum" type="text" class="border-2 border-gray-400 rounded-lg py-1 px-2 outline-sky-600/50" placeholder="+7(***)*** **-**" minlength="16" required>
                </div>
                <div class="input-block flex flex-col gap-1 py-1.5">
                    <label for="password">Пароль</label>
                    <input id="password" name="password" type="password" class="border-2 border-gray-400 rounded-lg py-1 px-2 outline-sky-600/50" placeholder="********" minlength="8" required>
                </div>
                <div class="input-block flex flex-col gap-1 py-1.5">
                    <label for="passwordConfirm">Повторите пароль</label>
                    <input id="passwordConfirm" name="passwordConfirm" type="password" class="border-2 border-gray-400 rounded-lg py-1 px-2 outline-sky-600/50" placeholder="********" minlength="8" required>
                </div>
                <div class="input-block flex py-1.5">
                    <input type="checkbox" id="confirmBox" name="confirmBox" class="customCheckbox cursor-pointer" required>
                    <label for="confirmBox" class="ml-3 cursor-pointer">Я согласен с <a href="#" class="text-sky-600">условиями обработки персональных данных</a></label>            
                </div>
                <div class="input-block flex flex-col gap-1 py-1.5">
                    <button id="submit" name="submit" type="submit" class="bg-sky-600 rounded-lg py-1.5 px-3 text-white">Зарегистрироваться</button>
                </div>
            </form>
        </div>
        <div class="bottom-auth flex justify-center border-t-[1px] px-6 py-3">
            <a href="{% url 'login_view' %}">Уже имеется аккаунт? <span class="text-sky-600 font-medium">Авторизируйтесь</span></a>
        </div>
    </div>
</div>

{% endblock main %}